canvas(id="myCanvas"
  width="960px"
  height="600px")

input(type="button"
  value="Generate New"
  onClick="genNew();")
p
  input(type="button"
    value="Darken"
    onClick="darken();")

  input(type="button"
    value="Add Shadows"
    onClick="shadowy();")

p
  a#btn-download.button(href='#', download='exported-art.png') Download PNG