h1 Geometric Pattern Generator

canvas(id="myCanvas"
  width="960px"
  height="600px")

.six.columns.offset-by-five
  input(type="button"
        value="Generate New"
        onClick="genNew();"
        class="full-width")

  .row
    input(type="button"
      value="Darken"
      onClick="darken();")
    input(type="button"
      value="Remix and Add Shadows"
      onClick="shadowy();")

.six.columns.offset-by-five
  a#btn-download.button.full-width(href='#', download='exported-art.png') Download PNG